<% if @userdata.blank? %>
  $(".resultBlock").hide();
  $(".alert").show();
<% else %>
  $(".alert").hide();
  $("#favoriteLang").text('<%= j @userdata[0] %>');
  $(".resultBlock").show();
<% end %>

