<div class="container">
  <div class="page-header">
    <h1>Learn favorite <i class="fa fa-github-alt"></i> language </h1>
  </div>
  <h1 class="lead">Enter a github username.</h1>
  <%= form_tag fetch_data_path, class: "form-inline", remote: true do %>
    <div class="form-group">
      <%= text_field_tag 'username', nil, class: "form-control", placeholder: "Username", required: true %>
    </div>
    <%= submit_tag "Start", class: "btn btn-default" %>
  <% end %>
  <br />
  <div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>User not found!</strong>
  </div>
  <div class="resultBlock">
    <h2>Favorite language:</h2>
    <span id="favoriteLang"></span>
  </div>
  <hr />
  <div class="tweet-container">
    <div class="tweet">
      <img src="https://pbs.twimg.com/profile_images/1844491454/horse-js.png" alt="" />
      <div class="t_body">
        <span class="username">horse_js</span>
        <span class="t_text">as much as I want to be, I'm not <a href="#" class="mention">@horse_js</a></span>
        <span class="date">7 days</span>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
  $(function(){
    $("form").on("submit", function() {
      $(".resultBlock, .alert").hide();
    });
  });
</script>
