/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.container .text-muted {
  margin: 20px 0;
}
.resultBlock {
    display: none;
}
#favoriteLang {
    font-size: 20px;
}

.alert {
    display: none;
}

.tweet-container {
    padding: 20px 0;
    background-color: #f8f8f8;
    .tweet {
        background-color: #fafafa;
        height: 100px;
        border: 1px solid #ececec;
        border-radius: 1%;
        img {
            padding: 10px;
            display: inline-block;
            float: left;
            max-height: 90px;
            width: 14%;
            border-radius: 15%;
        }
        .t_body {
            float: left;
            padding: 10px;
            display: block;
            position: relative;
            width: 86%;
            .username {
                width: 100%;
                float: left;
                display: inline-block;
                font-size: 17px;
                font-weight: 600;
            }
            .t_text {
                width: 100%;
                float: left;
                display: inline-block;
                a.mention {
                    font-weight: 600;
                    color: #7d8a94;
                }
            }
            .date {
                position: absolute;
                top: 10px;
                right: 10px;
                font-size: 11px;
                color: #bcbbd4;
            }
        }
    }
}
